/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;

}

#video-container {
    
    text-align: center;
    margin: 20px;
}
iframe {
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 11px #4b4b4b;
    background-color: #373737;
}


#video-title {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}
#video-description {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: gainsboro;
}
.input-container {
    text-align: center;
    margin-top: 20px;
}
.input-container input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}
.input-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
